USE [master]
GO
/****** Object:  Database [Angular]    Script Date: 9/21/2018 4:55:55 PM ******/
CREATE DATABASE [Angular]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Angular', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS2016\MSSQL\DATA\Angular.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Angular_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS2016\MSSQL\DATA\Angular_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Angular].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Angular]
GO
USE [Angular]
GO
/****** Object:  Table [dbo].[Child]    Script Date: 9/21/2018 4:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Child](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Files]    Script Date: 9/21/2018 4:55:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[childID] [int] NOT NULL,
	[FileSize] [int] NOT NULL,
	[Document] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Child] ON 

INSERT [dbo].[Child] ([ID], [FirstName], [LastName], [Gender], [Address]) VALUES (2, N'asmita', N'shah', N'female', N'delhi')
INSERT [dbo].[Child] ([ID], [FirstName], [LastName], [Gender], [Address]) VALUES (5, N'anant', N'infinity', N'male', N'noida')
SET IDENTITY_INSERT [dbo].[Child] OFF
SET IDENTITY_INSERT [dbo].[Files] ON 

SET IDENTITY_INSERT [dbo].[Files] OFF
USE [master]
GO
